<h1>Create yer pirate!</h1>
<form method="POST" action="/pirates">
  <h2>Pirate's Name: <input type="text" name="pirate[name]"></h2>
  <p>Pirate's Weight: <input type="text" name="pirate[weight]"></p>
  <P>Pirate's Height: </p>
</form>
