<h1>Here's your pirate!</h1><br>
<h3>Pirate's Name: <%= @pirate.name %></h3><br>
<p>Pirate's Weight: <%= @pirate.weight %></p><br>
<p>Pirate's Height: <%= @pirate.height %></p><br>

<h2>Here's their first ship!</h2><br>
<h3>First Ship's Name: <%= @ships</h3>
<p>First Ship's Type: </p>
<p>First Ship's Booty: </p>

<h2>Here's their second ship!</h2><br>
<h3>Second Ship's name: </h3>
<p>Second Ship's Type: </p>
<p>Second Ship's Booty: </p>
